/* TODO: Have your plugin's CSS files generated to here. */
#center{
    text-align: center;
}

#block-left{
    float: left;
    width: 50%;
}

#block-right{
    float: left;
    width: 50%;
}

#red-center{
    text-align: center;
    color: crimson;
}

