<form>
    <div>
        <div id="block-left">
            <label >{{ _('Address of FRITZ!Box') }}</label>
            <input  type="text" class="input" data-bind="value: settings.plugins.Wattometer.address">
        </div>

        <div id="block-right">
            <label >{{ _('AIN of Smart Plug') }}</label>
            <input  type="text" class="input" data-bind="value: settings.plugins.Wattometer.ain">        
        </div>

        <div id="block-left">
            <label >{{ _('FRITZ!Box Username') }}</label>
            <input  type="text" class="input" data-bind="value: settings.plugins.Wattometer.username">
        </div>
            
        <div id="block-right">
            <label >{{ _('FRITZ!Box Password') }}</label>
            <input  type="password" class="input" data-bind="value: settings.plugins.Wattometer.password">        
        </div>
        
        <div id="block-left">
            <label>{{ _('Measurement Intervall (sec)') }}</label>
            <input type="number" class="input" data-bind="value: settings.plugins.Wattometer.intervall">        
        </div>
        
        <div id="block-right">
            <label>{{ _('Display Time (sec)') }}</label>
            <input type="number" class="input" data-bind="value: settings.plugins.Wattometer.displaytime">        
        </div>
        
        
    </div>
</form>
